/* Footer Styles */

.footer {
    background-color: #252525;
    color: #fff;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-logo img {
    max-width: 150px;
  }
  
  .footer-text {
    flex: 1;
    max-width: 400px;
  }
  
  .footer-menu {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 20px;
  }
  
  .footer-menu li {
    margin-right: 20px;
  }
  
  .footer-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .footer-menu a:hover {
    color: #ff5e14;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-menu {
      margin-top: 20px;
    }
  
    .footer-menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .footer-copyright {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
  }
  
  .footer-copyright p {
    margin: 0;
    color: #252525;
    font-size: 14px;
  }